.avião-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: fit-content;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    margin-top: 20%;
}



.backG {
    display: block;
    max-width: 50%;
    height: 80%;
}



.botões{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: -150px;
}

.botao-invisivel {
    width: 120px;
    height: 120px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
